/*~~~ page rules ~~~*/

body {
  background-image: url("assets/sarah-lee-QURU8IY-RaI-unsplash.jpg");
  background-size: cover;
  margin: 0;
  font-family: 'SpongeBob Font Condensed', sans-serif;

}
/*~~~ all column styling ~~~*/

.columns {
  display: flex;
  text-align: center;
  height: 100vh;
}

.player-contents {
  padding: 60px;
}

/*~~~ player's column styling ~~~*/

.player-column {
  display: flex;
  justify-content: center;
  width: 25%;
  border: solid pink;
}

.player-one-icon,
.player-two-icon {
  font-size: 50px;
}

/*~~~ game column styling ~~~*/

.game-display-column {
  display: flex;
  justify-content: center;
  width: 50%;
  border: solid blue;
}

.title-text {
  font-size: 60px;
  padding-top: 15px;
  margin: 15px;
  color: #fff;
  text-shadow:
  0 0 5px #fff700, 0 0 10px #fff700,
  0 0 20px #fff700, 0 0 40px #fff700;
}

.game-grid {
  display: grid;
  border: solid gray;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resetButton {
  padding-top: 20px;
  padding: 10px;
}

.box {
  border: solid black;
}
/*~~~ player one ~~~*/

/*~~~ player two ~~~*/
