/*~~~ page styling ~~~*/

body {
  background-image: url("assets/sarah-lee-QURU8IY-RaI-unsplash.jpg");
  background-size: cover;
  margin: 0;
  font-family: 'SpongeBob Font Condensed', sans-serif;
}


/*~~~ all column styling ~~~*/

.columns {
  display: flex;
  text-align: center;
  height: 100vh;
}


/*~~~ player columns styling ~~~*/

h3 {
  font-size: 25px;
}

.player-contents {
  padding: 30px;
}

.player-column {
  display: flex;
  justify-content: center;
  width: 25%;
}

.player-one-icon,
.player-two-icon {
  font-size: 50px;
  padding: 10px;
  margin: 10px;
}

.image-container {
  padding-top: 50px;
  width: 200px;
  height: 120px;
}

.image-container img {
  width: 100%;
  height: auto;
}

h3,
.title-text {
  text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
  color: #FED128;
}

/*~~~ game column styling ~~~*/

.game-display-column {
  width: 50%;
}

.grid-container,
.game-display-column {
  display: flex;
  justify-content: center;
  align-content: center;
}

.turn-text,
.box {
  text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
  color: #28D7FE;
}

.turn-text {
  size: 100px;
}

.title-text {
  padding-top: 15px;
  margin: 15px;
  font-size: 40px;
}

.game-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  size: 30px;
  grid-gap: 0px;
  padding: 0px;
  color: #28D7FE;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
}
